.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {

    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logotype {
        position: relative;
        font-size: 24px;
        background: transparent !important;
        font-weight: 800;
        width: fit-content;
        transition: all 0.2s ease-in-out;
        z-index: 20;
        &:hover {
            transform: scale(110%);
        }
        a {
            background: transparent !important;
        }
    }
    &__list {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        background: transparent !important;
        z-index: 20;
        &-item {
            width: fit-content;
            background: transparent !important;
            z-index: 20;
            margin-right: 20px;
            a {
                background: transparent !important;
            }
            :last-child {
                margin-right: 0px;
            }
        }
        &-link {
            font-weight: 400;
            &:hover {
                font-weight: 600;
                transition: all .2s ease-in-out;
            }
        }
    }
}